.family-tree{
    display: flex;
    flex-wrap: nowrap;
    padding: 60px;
}

.tree-node{
    padding: 30px 100px
}

.tree-node .tree-node{
    padding: 0;
}

.parents, .children{
    display: flex;
    justify-content: center;
}

.children{
    padding-top: 60px;
    flex-wrap: nowrap;
}

.children .person-tile{
    margin-left: 20px;
    margin-right: 20px;
}

.parents{
    flex-direction: column;
    align-items: center;
}